/*h1, h2, p: Coffee*/
h1, h2, p{
    text-align: center;
}

/*h1, h2 fonts*/
h1, h2{
    font-family: Impact, serif; /*fallbacks: in instances where the initial font is not found/available*/
}

/*h1, h2 font-size*/
h1{
    font-family: "Ultra", serif;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

h2{
    font-size: 30px;
}

/*to style Est. 2020*/
.established{
    font-style: italic;
}

/*Coffee Image*/
img{
    display: block;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    height: 4px; /*border-width default value is 1px for all edges*/
    background-color: #650304;
    border-color: #650304; /*Edges, borders of the hr*/
}

/*For second hr*/
.bottom-line{
    margin-top: 25px;
}

/*Body*/
body{
    background-image: url(./coffee-bkgr.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 20px;
    padding-bottom: 0;
}

/*Menu*/
#menu {
    margin-top: 15px;
    background-color: #EFE3CC;
    color: #d71515;
    padding: 10px;
    margin-bottom: 15px;
}

.dessert, .flavor{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}

    /*p behave as inline elements*/
.item p{
    font-size: 18px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Footer*/
footer{
    font-size: 24px;
    text-decoration:none;
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: #d71515;
    color: #EFE3CC;
    margin-bottom: 0;
}

footer a:visited{ /*when a webpage has being visited*/
    color: #EFE3CC;
    text-decoration: none;
}

footer a:hover{
    color: black;
    font-family: "Ultra", serif;
}

footer a:active{ /*when a link has being clicked*/
    color: #EFE3CC;
    text-decoration: none;
}

a{
    color: #EFE3CC;
    text-decoration: none;
}

/*Address*/
.address{
    margin-bottom: 5px;
}
